.node--cryptography--hash--sha256 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    border: 2px solid #5a4f7c;
    border-radius: 0.25rem;
    background: #1e1e1e;
    color: white;
    margin: 0.25rem;
    text-align: center;
}

.node--cryptography--hash--sha256--label {
    display: block;
    padding-top: 1vh;
    width: 100%;
    font-size: 0.75rem;
}

.node--cryptography--hash--sha256--radio {
    display: inline;
    transform: scale(0.5);
}

.node--cryptography--hash--sha256--preview--label {
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 0.65em;
}

.node--cryptography--hash--sha256--preview--text {
    margin-top: 0;
    font-size: 0.5em;
}

.node--cryptography--hash--sha256--category{
    display: block;
    margin: 0.25vh 0 0 0;
    background: #5a4f7c;
    font-size: 0.5em;
}