.node--string--reverse {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    border: 2px solid #FF8300;
    border-radius: 0.25rem;
    background: #1e1e1e;
    color: white;
    margin: 0.25rem;
    text-align: center;
}

.node--string--reverse--label {
    display: block;
    text-align: center;
    padding-top: 1vh;
    width: 100%;
    font-size: 0.75rem;
}

.node--string--reverse--form {
    text-align: left;
    margin-left: 1vw;
}

.node--string--reverse--radio {
    display: inline;
    text-align: left;
    transform: scale(0.5);
}

.node--string--reverse--radio--label {
    font-size: 0.5rem;
}

.node--string--reverse--preview--label {
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 0.65em;
}

.node--string--reverse--preview--text {
    text-align: center;
    font-size: 0.5em;
    margin-top: 0;
}

.node--input--reverse--category{
    display: block;
    text-align: center;
    margin: 0.25vh 0 0 0;
    background: #FF8300;
    font-size: 0.5em;
}