.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: rgb(24, 24, 24);
    width: 20%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 90%;
}

.sidebar--title{
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-size: 2em;
}

.templateNode {
    color: white;
    padding: 1vh;
    margin: 1rem 3rem;
    border: 1px;
    border-style: solid;
    text-align: center;
}

.inputNode {
    color: #00897B;
}

.manipulationNode {
    color: #FF8300;
}

.cryptographyNode {
    color: #5a4f7c;
}

.outputNode {
    color: #C62B2B;
}