.node {
    --node-outline-color: #C62B2B;
    --node-active-outline-color: #d15555; 

    display: flex;
    flex-direction: column;

    height: auto;

    background-color: #1e1e1e;
    color: white;

    margin: 0.25rem;

    border: 2px solid var(--node-outline-color);
    border-radius: 0.25rem;

    text-align: center;
}

.node:active {
    border: 2px solid var(--node-active-outline-color);
}

.node:hover {
    border: 2px solid var(--node-active-outline-color);
}

.node_label {
    display: block;

    padding-top: 0.5rem;

    font-size: 0.75em;
}

.node_category {
    background-color: var(--node-outline-color);
  
    padding: 0.1rem 2rem;

    font-size: 0.5em;
}

.node_category:active {
    background-color: var(--node-active-outline-color);
}

.node_category_label {
    pointer-events: none;
}

.node_text {
    width: auto;
    border-radius: 1.5px;
    border-style: none;
    background: #3e3e42;
    color: white;
    margin: 0.5rem 1rem;
}